<ion-content>
  <app-header> </app-header>

  <div class="container">
    <button  type="button" class="btn-flotante" (click)="openIonModalAdd()" >Añadir un nuevo videojuego</button>

    <div class="row text-center login-page">
      <div class="col-md-12 login-form">

        <p class="login-form-font-header"> Mis juegos
        <p>

        <div class="search">
          <div>
            <ion-searchbar (ionInput)="searchByName($event)" color="medium" animated placeholder="Buscar un juego"></ion-searchbar>
          </div>
        </div>

        <div *ngIf="this.search===false" >
          <div *ngFor="let v of videogames" class="div-row" >
            <div class="div-btn">
              <div>
                <button class="btn" *ngIf="v.State===1" (click)="videoGameNotCompleted(v.idVideoGame, v.gameTime)"> ¿No Completado? </button>
                <button class="btn" *ngIf="v.State===0" (click)="videoGameCompleted(v.idVideoGame, v.gameTime)"> Completado! </button>
              </div>
              <div>
                <button class="btn" (click)="openIonModal(v)" > Modificar </button>
              </div>
              <div>
                <button class="btn" (click)="deleteVideoGame(v.idVideoGame)"> Eliminar </button>
              </div>
            </div>
  
            <div class="div-game">
              <div>
                <img class="img" src="data:image/png;base64,{{ v.photo }}">
              </div>
              <div class="text">
                <p> {{ v.name }} </p>
                <p> Tiempo de uso: {{ v.gameTime }}h </p>
              </div>
              <div>
                <p class="text" *ngIf="v.State===1"> Completado </p>
                <p class="text" *ngIf="v.State===0"> Completando </p>
                <img class="img-status" *ngIf="v.State===1" src="../../../assets/images/Check.png">
                <img class="img-status" *ngIf="v.State===0" src="../../../assets/images/unlock.png">
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="this.search===true" >
          <div *ngFor="let v of searcResult" class="div-row" >
            <div class="div-btn">
              <div>
                <button class="btn" *ngIf="v.State===0" (click)="videoGameCompleted(v.idVideoGame, v.gameTime)"> Completado! </button>
                <button class="btn" *ngIf="v.State===1" (click)="videoGameNotCompleted(v.idVideoGame, v.gameTime)"> ¿No Completado? </button>
              </div>
              <div>
                <button class="btn" (click)="openIonModal(v)"> Modificar </button>
              </div>
              <div>
               <button class="btn" (click)="deleteVideoGame(v.idVideoGame)"> Eliminar </button>
              </div>
            </div>
  
            <div class="div-game">
              <div>
                <img class="img" src="data:image/png;base64,{{ v.photo }}">
              </div>
              <div class="text">
                <p> {{ v.name }} </p>
                <p> Tiempo de uso: {{ v.gameTime }}h </p>
              </div>
              <div>
                <p class="text" *ngIf="v.State===1"> Completado </p>
                <p class="text" *ngIf="v.State===0"> Completando </p>
                <img class="img-status" *ngIf="v.State===1" src="../../../assets/images/Check.png">
                <img class="img-status" *ngIf="v.State===0" src="../../../assets/images/unlock.png">
              </div>
            </div>
          </div>
        </div>
        

      </div>

    </div>
  </div>




  <app-footer></app-footer>
</ion-content>