<ion-content *ngIf="miToken == 0">

  <div class="container">
    <div class="row text-center login-page">
      <div class="col-md-12 login-form">
        <form method="post">
          <div class="row">
            <div class="col-md-12 login-form-header">
              <p class="login-form-font-header">Crear Usuario
              <p>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12 login-from-row">

              <p class="login-form-tittle"> Correo Electronico*<br>(No debe de existir previamente) </p>
               

              <input name="email" type="email" [(ngModel)]="email" placeholder="Email " required />

            </div>
            <div class="col-md-12 login-from-row" *ngIf="this.visibleEmail === true">
              <label class="alert"> *Pon un Correo válido* </label>
            </div>
            <div class="col-md-12 login-from-row" *ngIf="this.visibleEmailExist === true">
              <label class="alert" > *El correo electronico ya existe* </label>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-12 login-from-row">
              <p class="login-form-tittle"> Contraseña* <br> (minímo 8 carácteres máximo 16 ) </p>
              <input name="password" type="password" [(ngModel)]="password" placeholder="Password" required />
            </div>
            <div class="col-md-12 login-from-row" *ngIf="this.visiblePassword === true">
              <label class="alert"> *Pon una contraseña válida* </label>
            </div>



          </div>

          <div class="row">

            <div class="col-md-12 login-from-row">

              <p class="login-form-tittle"> Nombre de Usuario* <br> (minímo 2 carácteres máximo 16 ) <br> *No debe de existir previamente* </p>
              <input name="usuario" type="text" [(ngModel)]="user" placeholder="Username " required />

            </div>

            <div class="col-md-12 login-from-row" *ngIf="this.visibleName === true">
              <label class="alert"> *Pon un nombre de usuario válido* </label>
            </div>
            <div class="col-md-12 login-from-row" *ngIf="this.visibleNameExist === true">
              <label class="alert" > *El nombre de usuario ya existe* </label>
            </div>
           
          </div>


          <div class="row">
            <div class="col-md-12 login-from-row">

              <p class="login-form-tittle"> Añade una imagen a tu perfil! </p>

              <label for="file-upload" class="custom-file-upload">
                Añadir imagen
              </label>
              <input id="file-upload" type="file" (change)="loadImageFromDevice($event)"  name="photo"  accept="image/*"/>
              <div *ngIf="this.visiblePhoto === true">
                <label class="success"> Foto añadida </label>
              </div>
              <div *ngIf="this.visiblePhoto === false">
                <label class="alert"> La imagen no es válida </label>
              </div>

            </div>
         
          </div>


          <div class="row">
            <div class="col-md-12 login-from-row">
              <h3 class="alert" *ngIf="this.visibleOkay == false"> Hubo un error </h3>
              <h3 class="success" *ngIf="this.visibleOkay == true"> Todo fue correcto </h3>
              <button class="btn btn-success" (click)="post()">Crear cuenta</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 login-from-row">
              <p class="login-form-newAccount"> ¿Ya tenías cuenta?. <a routerLink="/login"> Inicia sesión!</a> </p>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>

</ion-content>