.containerOwnApp {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    padding-top: 15px;
  }
  
  form input{
    background-color: snow;
    border-radius: 50px;
    color: black;
  }
  
  .login-page {
   padding: 5% 0 0;
   margin: 0 auto 100px;
   max-width: 400px;
   position: relative;
  }
  
  .login-form {
   background-color: whitesmoke;
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    border-radius: 25px;
  }
  
  .login-form-header {
    padding-top: 16px;
  }
  
  .login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .login-form-font-header {
    font-size:30px; 
    font-weight: bold;
  }
  
  .login-form-font-header  {
    color: #007C9B;
  }
  
  .login-form-newAccount{
    color: black;
    text-align: left;
  }
  
  .login-form-newAccount a{
    color: #007C9B;
  }
  
  .login-form-tittle{
    color: cornflowerblue;
  }
  
  .btn{
    width: 150px;
    border-radius: 25px;
  }
  
  h3{
    color: red;
    margin-top: -10px;
    font-size: 15px;
  }
  