<ion-toolbar color="primary" >
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button (click)="toggleMenu()">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <img src="../../../assets/images/logo.png" class="img"/>
        </ion-tab-button>

        <ion-tab-button href="/login">
          <ion-icon name="person-circle-outline" class="icon"></ion-icon>
          <ion-label>Iniciar Sesión</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>