<ion-content *ngIf="miToken != 0">

  <app-header> </app-header>

  <div class="container">
    <div class="row text-center login-page">
      <div class="col-md-12 login-form">

        <div>

          <h1> Condiciones de uso: </h1>
          <hr/>
          <h5> - Cualquier usuario que tenga un nombre o imagen de perfil ofensivo, se le advierte que su cuenta será eliminada.   </h5>
          <h5> - Es ideal que cada usuario sea sincero en cuanto su propia colección.  </h5>
          <h5> - En caso de encontrar un fallo es ideal que sea reportado.  </h5>
          <h5> - No compartas tu contraseña con terceros.  </h5>
          <h5> - Diviertete añadiendo juegos a tu colección!.  </h5>
        </div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>