<!-- Footer -->
<div class="space"></div>
<footer >


   <div class="d-flex justify-content-around">
        <div>
            <h1 (click)="toReport()">
                Reportar bug
            </h1>
        </div>

        <div >
            <h1 (click)="toConditions()">
                Condiciones de uso
            </h1>
        </div>

        
        
    </div>
    <div >
          
        <div class="footer-copyright text-center py-3">
            <ion-icon name="logo-github"></ion-icon>
          <a href="https://github.com/Nthehunter"> Creado por: Natanael MS </a>
          <ion-icon name="logo-github"></ion-icon>
        </div>  
    </div>
    
</footer>
<!-- Footer -->